# DSCI 503 â€“ Project 01
### Nicholas Allen

# Introduction
The goal of this project is to introduce datasets and test our skills using 219 years of socioeconomic data.

In [1]:
import pandas as pd
df = pd.read_csv('gapminder_data.txt', sep='\t')
df.head(10)

,country,year,continent,population,life_exp,gdp_per_cap,gini
0,Afghanistan,1800,asia,3280000,28.2,603,30.5
1,Albania,1800,europe,410000,35.4,667,38.9
2,Algeria,1800,africa,2500000,28.8,715,56.2
3,Angola,1800,africa,1570000,27.0,618,57.2
4,Antigua and Barbuda,1800,americas,37000,33.5,757,40.0
5,Argentina,1800,americas,534000,33.2,1510,47.7
6,Armenia,1800,europe,413000,34.0,514,31.5
7,Australia,1800,asia,351000,34.0,814,38.7
8,Austria,1800,europe,3210000,34.4,1850,33.4
9,Azerbaijan,1800,europe,880000,29.2,775,70.5

In [2]:
country = df.country.to_list()
continent = df.continent.to_list()
year = df.year.to_list()
population = df.population.to_list()
life_exp = df.life_exp.to_list()
pcgdp = df.gdp_per_cap.to_list()
gini = df.gini.to_list()

In [3]:
N = 30100
print('Country: ', country[N])
print('Continent: ', continent[N])
print('Year: ', year[N])
print('Population: ', population[N])
print('Life Expectancy: ', life_exp[N])
print('Per Capita GDP: ', pcgdp[N])
print('Gini Index: ', gini[N])

Country:  Mongolia
Continent:  asia
Year:  1963
Population:  1040000
Life Expectancy:  50.3
Per Capita GDP:  1340
Gini Index:  32.0

# Part 1: Displaying Past 20 Years of US Data
This section of the assignment tests our looping abilities in combination with conditional statements to output US data from the previous two decades.

In [4]:
len_list = [len(country), len(continent), len(year), len(population), len(life_exp), len(pcgdp), len(gini)]

print('Year       Country       Population   LExp    pcGDP    Gini')
print('-----------------------------------------------------------')

for i in range(0,max(len_list)):
    if year[i] >= 1999:
        if country[i] == 'United States':
            print(f'{year[i]}    {country[i]}    {population[i]}    {life_exp[i]}    {pcgdp[i]}    {gini[i]}')

Year       Country       Population   LExp    pcGDP    Gini
-----------------------------------------------------------
1999    United States    279000000    76.8    44700    40.5
2000    United States    282000000    76.9    46000    40.5
2001    United States    285000000    77.0    46000    40.5
2002    United States    288000000    77.1    46400    40.5
2003    United States    290000000    77.3    47300    40.5
2004    United States    293000000    77.5    48600    40.6
2005    United States    295000000    77.7    49800    40.7
2006    United States    298000000    77.9    50600    40.8
2007    United States    301000000    78.1    51000    40.8
2008    United States    303000000    78.3    50400    40.8
2009    United States    306000000    78.6    48600    40.7
2010    United States    309000000    78.7    49400    40.7
2011    United States    311000000    78.8    49800    40.7
2012    United States    313000000    78.9    50500    40.8
2013    United States    316000000    78.9    51000    41.0
2014    United States    318000000    78.9    51800    41.2
2015    United States    320000000    78.8    52800    41.3
2016    United States    322000000    78.8    53300    41.4
2017    United States    324000000    79.0    54200    41.5
2018    United States    327000000    79.1    54900    41.5

# Part 2: Selecting the 2018 Data
This section of the assignment further tests looping with conditionals but also challenges us to use the append method to split the data from a single to multiple lists, each with their common theme.

In [5]:
country_2018 = []
population_2018 = []
continent_2018 = []
life_exp_2018 = []
pcgdp_2018 = []
gini_2018 = []

for j in range(0,max(len_list)):
    if year[j] == 2018:
        country_2018.append(country[j])
        population_2018.append(population[j])
        continent_2018.append(continent[j])
        life_exp_2018.append(life_exp[j])
        pcgdp_2018.append(pcgdp[j])
        gini_2018.append(gini[j])

In [6]:
global_population_2018 = sum(population_2018)
print(f'The global population in 2018 was {global_population_2018}')

The global population in 2018 was 7595200200

# Part 3: Identifying Countries with Largest and Smallest Populations
This section of the assignment sees us sorting countries by population to find the largest and smallest 2018 populations, then outputing those conuntries.

In [7]:
sorted_population_2018 = sorted(population_2018)

print('Countries with the Largest Populations in 2018')
print('----------------------------------------------')

for k in range(-10,0):
    kth_largest_pop = sorted_population_2018[k]
    kth_pop_idx = population_2018.index(kth_largest_pop)
    print(f'The population of {country[kth_pop_idx]} in 2018 was {population_2018[kth_pop_idx]}')
   
print('\n \n')
print('Countries with the Smallest Populations in 2018')
print('----------------------------------------------')

for l in range(0,9):
    lth_smallest_pop = sorted_population_2018[l]
    lth_pop_idx = population_2018.index(lth_smallest_pop)
    print(f'The population of {country[lth_pop_idx]} in 2018 was {population_2018[lth_pop_idx]}')

Countries with the Largest Populations in 2018
----------------------------------------------
The population of Mexico in 2018 was 131000000
The population of Russia in 2018 was 144000000
The population of Bangladesh in 2018 was 166000000
The population of Nigeria in 2018 was 196000000
The population of Pakistan in 2018 was 201000000
The population of Brazil in 2018 was 211000000
The population of Indonesia in 2018 was 267000000
The population of United States in 2018 was 327000000
The population of India in 2018 was 1350000000
The population of China in 2018 was 1420000000



Countries with the Smallest Populations in 2018
----------------------------------------------
The population of Seychelles in 2018 was 95200
The population of Antigua and Barbuda in 2018 was 103000
The population of Micronesia, Fed. Sts. in 2018 was 106000
The population of Grenada in 2018 was 108000
The population of Tonga in 2018 was 109000
The population of St. Vincent and the Grenadines in 2018 was 110000
The population of Kiribati in 2018 was 118000
The population of St. Lucia in 2018 was 180000
The population of Samoa in 2018 was 198000

# Part 4: Identifying Countries with Highest and Lowest Life Expectancies
This section of the assignment sees us finding country names based on the dataset's numerous maximum and minimum life expectancies in the year 2018.

if year == 2018
    if country = 'United States'
    print(population)

In [8]:
strd_lexp = sorted(life_exp_2018)
print('Countries with Highest Life Expectancy in 2018')
print('------------------------------------------------------')

for m in range(-10,0):
    mth_hi_lexp = strd_lexp[m]
    mth_lexp_idx = life_exp_2018.index(mth_hi_lexp)
    print(f'The life expantancy of {country[mth_lexp_idx]} in 2018 was {life_exp_2018[mth_lexp_idx]}')
   
print('\n \n')
print('Countries with the Lowest Life Expectancy in 2018')
print('----------------------------------------------')

for n in range(0,9):
    nth_lo_lexp = strd_lexp[n]
    nth_lexp_idx = life_exp_2018.index(nth_lo_lexp)
    print(f'The life expantancy of {country[nth_lexp_idx]} in 2018 was {life_exp_2018[nth_lexp_idx]}')

Countries with Highest Life Expectancy in 2018
------------------------------------------------------
The life expantancy of Israel in 2018 was 82.4
The life expantancy of Israel in 2018 was 82.4
The life expantancy of France in 2018 was 82.6
The life expantancy of France in 2018 was 82.6
The life expantancy of France in 2018 was 82.6
The life expantancy of Australia in 2018 was 82.9
The life expantancy of Spain in 2018 was 83.2
The life expantancy of Switzerland in 2018 was 83.5
The life expantancy of Singapore in 2018 was 84.0
The life expantancy of Japan in 2018 was 84.2



Countries with the Lowest Life Expectancy in 2018
----------------------------------------------
The life expantancy of Lesotho in 2018 was 51.1
The life expantancy of Central African Republic in 2018 was 51.6
The life expantancy of Somalia in 2018 was 58.0
The life expantancy of Swaziland in 2018 was 58.6
The life expantancy of Afghanistan in 2018 was 58.7
The life expantancy of Zambia in 2018 was 59.5
The life expantancy of Guinea-Bissau in 2018 was 59.7
The life expantancy of Sierra Leone in 2018 was 60.0
The life expantancy of Zimbabwe in 2018 was 60.2

# Part 5: Calculating GDP by Country
This section of the assignment tests our arithmetic skills in combination with looping through lists by asking for each countries total GDP as well as the global GDP

In [9]:
gdp_2018 = []

for o in range(0,max(len(pcgdp_2018), len(population_2018))):
    gdp_2018.append(pcgdp_2018[o] * population_2018[o])
print(f'The total global GDP in 2018 was ${sum(gdp_2018)}')
min_gdp = min(gdp_2018)
max_gdp = max(gdp_2018)

print(f'The country with the highest GDP in 2018 was {country[gdp_2018.index(max_gdp)]} with a GDP of ${max_gdp}.\n'\
f'The country with the lowest GDP in 2018 was {country[gdp_2018.index(min_gdp)]} with a GDP of ${min_gdp}.')

The total global GDP in 2018 was $118225647770000
The country with the highest GDP in 2018 was China with a GDP of $22720000000000.
The country with the lowest GDP in 2018 was Kiribati with a GDP of $223020000.

# Part 6: Grouping by Continent
The last part of the assignment reinforces all of the previous concepts; looping, indexing, and arithmetic; to group the 4 regions/continents data and find their respetive GDP, life expectancy, and total population.

In [10]:
continent_names = ['africa', 'americas', 'asia', 'europe']
pcgdp_2018_by_continent = []
pop_2018_by_continent = []
life_exp_2018_by_continent = []

for cont in range(0,len(continent_names)):
    temp_life_exp = 0
    temp_pop = 0
    temp_gdp = 0
    for p in range(0,len(country_2018)):
        if continent_2018[p] == continent_names[cont]:
            temp_life_exp += life_exp_2018[p] * population_2018[p]
            temp_pop += population_2018[p]
            temp_gdp += pcgdp_2018[p] * population_2018[p]
    temp_life_exp /= temp_pop
    temp_gdp /= temp_pop
    temp_life_exp = round(temp_life_exp,1)
    temp_gdp = round(temp_gdp,0)
    pcgdp_2018_by_continent.append(temp_gdp) 
    pop_2018_by_continent.append(temp_pop)
    life_exp_2018_by_continent.append(temp_life_exp)
#print(f'{pcgdp_2018_by_continent}')
#print(f'{pop_2018_by_continent}')
#print(f'{life_exp_2018_by_continent}')   #these three lines were my output. Docked points becuase I forgot the below formatting

print('Continent    Population     pcGDP    Life Exp')
print('---------------------------------------------')

for i in range(0, len(continent_names)):
    print(f'{continent_names[i].capitalize() : <12} {pop_2018_by_continent[i] : >10} \
    {pcgdp_2018_by_continent[i] : >5} {life_exp_2018_by_continent[i] : >11}')

[4700.0, 28708.0, 12705.0, 31534.0]
[1287150200, 1010978000, 4455113000, 841959000]
[65.9, 77.5, 73.2, 78.4]
Continent    Population     pcGDP    Life Exp
---------------------------------------------
Africa       1287150200     4700.0        65.9
Americas     1010978000     28708.0        77.5
Asia         4455113000     12705.0        73.2
Europe        841959000     31534.0        78.4